*
{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}
.menu-bar
{
    background-image: linear-gradient(to right,#6db9ef,#7ce08a);
}
.nav-link
{
    font-size: 16px;
    color: #fff !important;
    margin: 2px;
}
.navbar-nav
{
    text-align: right;
}
.menu-bar .navbar-toggler
{
    padding-right: 0px;
    outline: none;
    border: none;
}
.banner
{
    height: 80vh;
    background-image: linear-gradient(rgba(0,0,0,0,5),rgba(0,0,0,0,5)),url(images/banner-job.jfif);
    background-size: cover;
    background-position: center;
    color: #fff;
}